extends layout

block content
  h1= title
  p Welcome to #{title}


  h1 e-merch.com

  h2= Product



  div
    <img src="http://placehold.it/250x250"/>

  div
    <button>Buy 1</button>
    <button>Buy 10</button>
    <button>Buy 100</button>
